@use '@/styles/mixin';

.member {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.member:not(:first-of-type) {
  margin-top: 80px;
}

.member:nth-child(even) {
  flex-direction: row-reverse;
}

.image {
  width: 240px;
  border-radius: var(--border-radius);
}

.image img {
  @include mixin.img;
}

.name {
  font-size: 1.2rem;
  font-weight: 700;
}

.position {
  margin-top: 8px;
}

.profile {
  margin-top: 8px;
  font-size: 0.9rem;
}
