@use '@/styles/utils';

.flexContainer {
  @include utils.space-between;

  gap: 1em;
  margin: var(--space-lg) 0;
}

.next {
  margin-left: auto;
}

.iconText {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
