@use '@/styles/utils';

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.fixed {
  position: absolute;
  top: 0;
  right: 0;
}

.heading {
  font-family: Oswald, sans-serif;
  font-size: var(--display);
  font-weight: 500;
  color: #fff46c;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
