@use '@/styles/utils';

.container {
  &[data-image='true'] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  &[data-image='false'] {
    display: grid;
    gap: calc(var(--display) * 0.2);
    padding-top: calc(var(--display) * 1.2);
    padding-bottom: calc(var(--display) * 0.7);
  }
}

.heading {
  display: inline-block;
  font-family: Oswald, sans-serif;
  font-size: var(--display);
  font-weight: 500;
  line-height: 1;
  color: #fff46c;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  overflow-wrap: break-word;
  -webkit-text-stroke: 1px var(--black);
}

.subHeading {
  display: inline-block;
  color: var(--black);
  text-align: center;

  @include utils.tablet-screen {
    text-align: left;
  }
}
