:root {
  /* Color */
  --base: #ffff83;
  --white: #fff;
  --black: #171717;
  --accent: #83c0f9;

  /* Font size */
  --body: clamp(1rem, 0.95rem + 0.2vw, 1.125rem); /* 16-18px */
  --display: clamp(3.375rem, 1.384rem + 8.49vw, 7.5rem); /* 54-120px */
  --heading1: clamp(2rem, 1.3rem + 3vw, 4rem); /* 32-64px */
  --heading2: calc(var(--body) * 1.5); /* 24-27px */
  --small-heading2: clamp(0.875rem, 4vw - 1rem, 1.6875rem); /* 14-27px */
  --small-heading3: calc(var(--small-heading2) * 0.86); /* 12-23px */

  /* Space */
  --space-xs: clamp(1.25rem, 1rem + 0.9vw, 1.875rem); /* 20-30px */
  --space-sm: calc(var(--space-xs) * 1.5); /* 30-45px */
  --space-md: calc(var(--space-xs) * 2); /* 40-60px */
  --space-lg: calc(var(--space-xs) * 3); /* 60-90px */
  --space-xl: calc(var(--space-xs) * 4); /* 80-120px */
  --space-jump: clamp(1.25rem, 0.35rem + 3.8vw, 3.75rem); /* 20-60px */
}

/* Base Styles */
body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: var(--body);
  color: var(--black);
  background-color: var(--base);
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(body, h1, h2, h3, p, figure, dl) {
  margin: 0;
}

:where(ul, ol) {
  padding: 0;
  margin: 0;
  list-style: none;
}

:where(a) {
  color: inherit;
  text-decoration: none;
}

:where(img) {
  display: block;
  max-width: 100%;
  height: auto;
}
