@use '@/styles/mixin';

.container {
  &[data-image='true'] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    padding: 100px 0;
  }

  &[data-image='false'] {
    padding-top: calc(var(--display) * 1.2);
    padding-bottom: calc(var(--display) * 0.7);
  }
}

.logo {
  width: min(92%, 500px);
}

.logo img {
  @include mixin.img;
}

.heading {
  display: grid;
  gap: calc(var(--display) * 0.3);
  font-size: var(--display);
  line-height: 1;
  text-transform: uppercase;
}

.heading span {
  text-box: trim-both cap alphabetic;
}

.heading::after {
  font-size: var(--body);
  content: attr(data-ja);
  text-box: trim-both text;
}
