@use '@/styles/mixin';

.wrapper {
  padding: var(--space-xl) 0;
  color: var(--white);
  background-color: var(--black);
}

.flexContainer {
  @include mixin.sideBySideCenter;

  gap: 2em;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-size: clamp(0.875rem, 0.5rem + 0.78vw, 1rem);

  @include mixin.tabletScreen {
    flex-direction: row;
  }
}

.copyright {
  margin-top: var(--space-sm);
  font-size: clamp(0.75rem, 0.678rem + 0.31vw, 0.875rem);
  text-align: center;
  text-box: trim-both cap alphabetic;
}
