@use '@/styles/utils';

.list {
  display: flex;
  gap: 0 2em;
  font-weight: 700;
  text-transform: uppercase;
}

.link {
  @include utils.hover {
    color: var(--accent);
  }

  @include utils.touch {
    -webkit-tap-highlight-color: transparent;
  }

  &:active {
    @include utils.touch {
      color: var(--accent);
    }
  }
}
